html {
    --main-bg-color: #6EA0A7;
    --secondary-bg-color: #2D505C;
    --font-family: sans-serif;
    --matrix-display-padding: 1.5%;
    --label-bg-color: #33333F;
    --label-font-color: #EDEDED;
    --label-local-bg-color: rgba(255, 100, 100, 0.7);
    --label-local-font-color: #FFFFFF;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background: var(--main-bg-color); /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(var(--main-bg-color), var(--secondary-bg-color)); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(var(--main-bg-color), var(--secondary-bg-color)); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(var(--main-bg-color), var(--secondary-bg-color)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(var(--main-bg-color), var(--secondary-bg-color)); /* Standard syntax */
}

.three-container {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    top: 1em;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--label-font-color);
    user-select: none;
}

.point-label {
    user-select: none;
    position: absolute;
    background-color: var(--label-bg-color);
    color: var(--label-font-color);
    padding: 1%;
    border: 1px solid var(--label-font-color);
    border-radius: 50%;
    word-wrap: break-word;
    font-size: 0.85em;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    margin-top: -20px;
    line-height: 1.5em;
    text-align: center;
    z-index: 1;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.point-label-local {
    user-select: none;
    position: absolute;
    background-color: var(--label-local-bg-color);
    color: var(--label-local-font-color);
    padding: 1%;
    border: 1px solid var(--label-local-font-color);
    word-wrap: break-word;
    font-size: 0.85em;
    width: 15px;
    height: 15px;
    line-height: 1.25em;
    text-align: center;
    z-index: 1;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.triangle-label {
    position: absolute;
    background-color: var(--label-font-color);
    color: #bb0000;
    padding: 1%;
    border: 1px solid #bb0000;
    word-wrap: break-word;
    font-size: 0.85em;
    width: 15px;
    height: 15px;
    margin-left: -15px;
    margin-top: -15px;
    line-height: 1.5em;
    text-align: center;
    z-index: 1;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.matrix-display {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--label-font-color);
    position: absolute;
    top: 0;
    left : 0;
    padding: var(--matrix-display-padding);
    word-wrap: break-word;
    font-size: 0.85em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#matrix-ref {
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#matrix-elem {
    width: 50%;
    margin-top: 1em;
}

.matrix-display tr {
    border: 1px solid var(--label-font-color);
}

.matrix-display td {
    color: var(--label-font-color);
    text-align: center;
}

.determinant {
    margin-left: 1em;
}

.supsub {
    line-height: 0.75em;
}
.subscript {
    position:relative;
    left: -2px;
    top: 3px;
}
.subscript2 {
    position:relative;
    right: -5px;
    top: -5px;
}
.superscript {
    position:relative;
    left: 2px;
    top: -3px;
}

.downarrow {
    position: absolute;
    top: 50%;
    right: 50%;
    border: solid var(--label-font-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    user-select: none;
    color: var(--label-font-color);
}
